.contact{
    padding: 6.25rem 1.25rem;
}

textarea, input{
    width: 100%;
    margin: 0.625rem 0;
    padding: 0.875rem;
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    padding-left: 1.125rem;
    font-size: 0.8125rem;
    background: transparent;
    color: #495057;
    box-sizing: border-box;
}
textarea:focus,
input:focus{
    outline: 0;
}
.half{
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.contact-firstname{
    padding-right: 0.9375rem;
}
.contact-email{
    padding-left: 0.9375rem;
}

.contact-button{
    margin-top: 1.875rem;
}